<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>お気に入り一覧</p>

<div class="faq">
	<% @user.favorites.each do |favorite| %>
    <ul id="faq-list">
      <li class="faq-list-item">
        <h3 class="question"><%= favorite.joke.e_body %></h3>
        <span>+</span>
        <div class="answer">
          <p>和訳のPick Up Lines</p>
			<%= favorite.joke.j_body %>
			<p>英文のPick Up Linesの説明</p>
			<%= favorite.joke.e_caption %>
			<p>和文のPick Up Lines説明</p>
			<%= favorite.joke.j_caption %>
			<p>ローマ字のPick Up Lines発音</p>
			<%= favorite.joke.e_speak %>
			<p>カタカナのPick Up Lines発音</p>
			<%= favorite.joke.j_speak %>
			<%= link_to "Show", joke_path(favorite.joke.id) %>
			<% if favorite.joke.favorited_by?(current_user) %>
			  <li>
			    <%= link_to joke_favorites_path(favorite.joke.id), method: :delete do %>
			      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
			      <%= favorite.joke.favorite.count %> いいね
			    <% end %>
			  </li>
			<% else %>
			  <li>
			    <%= link_to joke_favorites_path(favorite.joke.id), method: :post do %>
			      <i class="fa fa-heart-o" aria-hidden="true"></i>
			      <%= favorite.joke.favorite.count %> いいね
			    <% end %>
			  </li>
			<% end %>
        </div>
      </li>
    </ul>
<% end %>
