<h1> Funny and Cheesy Pick Up Lines! </h1>
<p class="caption" >Our best funny and cheesy pick up lines for all your embarrassing needs! <br>Warning, please only use these pick up lines only if you are brave or stupid enough!
</p>

<div class="faq">
	<% @jokes.each do |joke| %>
	    <ul id="faq-list">
		    <li class="faq-list-item">
		        <p class="question"><%= joke.e_body %></p>
		        <span>+</span>
		        <div class="answer">
		          	<p class="a">和訳のPick Up Lines</p>
					<%= joke.j_body %>
					<p class="a">英文のPick Up Linesの説明</p>
					<%= joke.e_caption %>
					<p class="a">和文のPick Up Lines説明</p>
					<%= joke.j_caption %>
					<p class="a">ローマ字のPick Up Lines発音</p>
					<%= joke.e_speak %>
					<p class="a">カタカナのPick Up Lines発音</p>
					<%= joke.j_speak %>
					<%= link_to "Show", joke_path(joke.id) %>
					<div id="likes_buttons_<%= joke.id %>">
		            	<%= render partial: 'favorites/like', locals: { joke: joke} %>
		          	</div>
		        </div>
		    </li>
	    </ul>
	<% end %>
</div>