<h1>Jokes#index</h1>
<p>Find me in app/views/jokes/index.html.erb</p>

	<% @jokes.each do |joke| %>
		<p>英文のPick Up Lines</p>
		<%= joke.e_body %>
		<p>和訳のPick Up Lines</p>
		<%= joke.j_body %>
		<p>英文のPick Up Linesの説明</p>
		<%= joke.e_caption %>
		<p>和文のPick Up Lines説明</p>
		<%= joke.j_caption %>
		<p>ローマ字のPick Up Lines発音</p>
		<%= joke.e_speak %>
		<p>カタカナのPick Up Lines発音</p>
		<%= joke.j_speak %>
	<%= link_to "Show", joke_path(joke.id) %>
	<% end %>
