<!DOCTYPE html>
<html>
  <head>
    <title>Ejoke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid header-layout">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample6">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/jokes">
              Amazian
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbarEexample6">
            <ul class="nav navbar-nav">
              <li class="navbar-form navbar-left" role="search">
                <%= form_tag(jokes_path, method: :get) do %>
                 <%= text_field_tag :search ,"" , :class=> "form-control", :placeholder => "KeyWord" %>
                 <button type="submit" class="btn btn-default" name= nil>GO</button>
                <% end %>
              </li>
              <% if user_signed_in? %>
                <!-- もしアドミン -->
                <% if current_user.admin == true %>
                  <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to " jokes/new", new_joke_path %></li>
                    <li><%= link_to " user/index", users_path %></li>
                    <li><%= link_to " user/show", user_path(current_user) %></li>
                    <li><%= link_to " log_out", destroy_user_session_path, method: :delete %></li>
                  </ul>
                  <!-- 普通のユーザー -->
                <% else %>
                  <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to " user/show", user_path(current_user) %></li>
                    <li><%= link_to " log_out", destroy_user_session_path, method: :delete %></li>
                  </ul>
                <% end %>
              <% else %>
                <!-- 通常状態 -->
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to " sign_in", new_user_session_path %></li>
                  <li><%= link_to " sign_up", new_user_registration_path  %></li>
                </ul>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% if flash[:notice] %>
        <div class="alert alert-warning">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
